/* latin */
@font-face {
  font-family: 'IM Fell English';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('IM FELL English Italic'), local('IM_FELL_English_Italic'), url(https://fonts.gstatic.com/s/imfellenglish/v10/Ktk3ALSLW8zDe0rthJysWrnLsAzHFZOafYtq5Mzh.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'IM Fell English';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IM FELL English Roman'), local('IM_FELL_English_Roman'), url(https://fonts.gstatic.com/s/imfellenglish/v10/Ktk1ALSLW8zDe0rthJysWrnLsAzHEKOYd4xI5g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'IM Fell English SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IM FELL English SC'), local('IM_FELL_English_SC'), url(https://fonts.gstatic.com/s/imfellenglishsc/v10/a8IENpD3CDX-4zrWfr1VY879qFF05pZ7PIIPoUgxzQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Hobbiton Brushhand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Hobbiton_Brushhand/HobbitonBrushhand.ttf') format('ttf');
}

$white: #fff;
$gray-100: #fcfbf3;
$gray-200: #edebda;
$gray-300: #d6d8b1;
$gray-400: #cdd0ae;
$gray-500: #adb59d;
$gray-600: #777d62;
$gray-700: #454534;
$gray-800: #33322a;
$gray-900: #2b2b26;
$black: #000;

// Base colors definitions
$blue: #1373da;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d84686;
$red: #c00505;
$orange: #fd7e14;
$yellow: #ffe600;
$green: #28a745;
$teal: #20c997;
$cyan: #2b92a2;

// Theme color default definitions
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

// This table defines the theme colors (variant names)
$theme-colors: ();
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
  ),
  $theme-colors
);

$body-bg: $gray-100;
$sidebar-bg: $gray-200;
$body-color: $gray-800;

$font-family-serif: 'IM Fell English', Georgia, "Times New Roman", Times, serif;
$font-family-strong: 'IM Fell English SC', Georgia, "Times New Roman", Times, serif;

$font-family-cursive: 'Hobbiton Brushhand', cursive;
$font-family-base: $font-family-serif;

$enable-responsive-font-sizes: true;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Bootstrap and its default variables
@import '../../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '../../node_modules/bootstrap-vue/src/index.scss';

html { 
    font-size: 18px;
}
body { 
    overflow-x: hidden;
    font-family: $font-family-serif !important;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-strong;
}
strong {
  font-family: $font-family-strong;
}
.header img {
    max-height: 200px;
    &.float-left {
        transform: scaleX(-1);
    }
}
.header {
    background-image: url('/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .screen {
      background-image: linear-gradient(0, $body-bg, rgba(255,255,255,0) 95%);
    }
    h1 {
      color: transparent;
      .wf-active & {
        color: $body-color;
      }
      .wf-inactive & {
        color: $body-color;
      }
    }

}
footer .row div {
  background-image: url('/footer.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
}
.b-sidebar-body {
    background-color: $sidebar-bg;
    a span {
        color: $body-color;
        opacity: .6;
        &.active {
            opacity: 1;
        }
    }
}
.place h3 {
    font-size: 1.15rem;
}
ol img {
    max-width: 4rem;
    margin: auto;
}
ul img {
    max-width: 12rem;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: auto;
    text-align: center;
}
.activities ul {
  text-align: left;
  li {
    margin: auto;
    margin-bottom: $spacer;
    max-width: 30rem;
  }
}
.place.narrow:after {
  height: 30px;
  background-image: url('/narrow-divider.png');
  background-position: 20% 50%;

}
.place.wide:after {
  height: 40px;
  background-image: url('/wide-divider.png');
  background-position: center;
}
.place:after {
  display:block;
  margin-top: $spacer;
  content: '';
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
nav {
    font-family: $font-family-strong;
    display:block;
    font-size: 1.1rem;
    ul {
        text-align: left;
    }
}
.GMap__Wrapper{
    height: 100% !important;
}
.map {
    min-height: 400px;
}
.payment {
    min-height: 330px;
}
.thanks {
    min-height: 100px;
}
.gallery .card {
    min-height: 219px;
    max-width: 219px;
    margin: auto;
    img {
        min-height: 219px;
        object-fit: cover;
    }
}
@media (min-width: 576px) {
    h1.secondary div {
        display: inline
    }
    .payment {
        min-height: 285px;
    }
    .gallery .card {
        min-height: auto;
        img {
            min-height: auto;
        }
    }
}

.toggler-box {
    background-color: transparent;
    position: absolute;

}
button.toggler.navbar-toggler {
    padding-top: 0;
    padding-left: 0;
    z-index:80000;
}
.card-header {
  background-color: $gray-200;
}
.tabs {
  .card-header {
    padding: 0;
    border-bottom: none;
    .card-header-pills, .card-header-tabs {
      margin: 0;
      .nav-link.active {
        background-color: $white;
        color: $body-color;
      }
      .nav-link {
        height: 100%;
        border-radius: .25rem .25rem 0 0;

      }
    }
  }
}

div[role=navigation] {
    position: sticky;
    top: 0;
    background-color: $body-bg;
}
div[role=navigation].stuck {
    box-shadow: rgba(51, 50, 42, 0.25) 0px 4px 5px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .5s ease-in-out;
}
.modal-backdrop, .bg-dark {
  background-color: $body-color !important;
}
.content p:first-of-type::first-letter {
  color: $danger;
  font-family: $font-family-cursive;
  float: left;
  font-size: 3rem;
  line-height: 2.3rem;
  padding-right: .5rem;
  padding-left: 0;
  padding-top: .6rem;
}
.place a, p a, .link, .nav-item a span {
    font-size: 1rem;
    font-family: $font-family-strong;
    text-decoration: none !important;
    transition: color 0.3s ease-in-out;
    display: inline-block;
    vertical-align: bottom;
    font-family: $font-family-strong;
    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;

    &:hover, &:focus {
      color: darken($primary, 20%);
    }
    &:active {
      color: lighten($primary,20%);
      &::after {
        background-color: lighten($primary,20%);
      }
    }
    &:hover::after, &:focus::after {
        width: 100%;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 0%;
        height: 1px;
        background-color: darken($primary, 20%);
        transition: all .3s;
    }
}
.tabs .nav-item a span {
  &:hover::after, &:focus::after {
    width: 0%;
  }
}
h2::after {
    content: "*******************";
    display: block;
    text-align: center;
    font-size: 1rem;
}
.flourish {
    font-family: $font-family-cursive !important;
    font-size: 4.25rem;
}
.conjunction {
    font-family: $font-family-strong !important;
    font-size: 2rem;
}
// Quill Editor
.ql-toolbar {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}
.ql-container {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.ql-container {
    font-family: $font-family-serif !important;
}
.modal-body, .modal-header, .modal-footer {
    background-color: $body-color;
}
.modal-header, .modal-footer {
    display: none !important    ;
}
.modal-body .img-fluid {
    max-height:80vh;
    width: auto !important;
    margin: auto;
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

// Settings
// ==================================================
$hamburger-padding-x           : 15px;
$hamburger-padding-y           : 15px;
$hamburger-layer-width         : 40px;
$hamburger-layer-height        : 4px;
$hamburger-layer-spacing       : 6px;
$hamburger-layer-color         : $body-color;
$hamburger-layer-border-radius : 4px;
$hamburger-hover-opacity       : 0.7;
$hamburger-active-layer-color  : $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false;
$hamburger-hover-filter       : opacity(50%);
$hamburger-active-hover-filter: $hamburger-hover-filter;

// Hamburger
// ==================================================
.hamburger {
    padding: $hamburger-padding-y $hamburger-padding-x;
    display: inline-block;
    cursor: pointer;
  
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
  
    // Normalize (<button>)
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  
    &:hover {
      @if $hamburger-hover-use-filter == true {
        filter: $hamburger-hover-filter;
      }
      @else {
        opacity: $hamburger-hover-opacity;
      }
    }
  
    &.is-active {
      &:hover {
        @if $hamburger-hover-use-filter == true {
          filter: $hamburger-active-hover-filter;
        }
        @else {
          opacity: $hamburger-active-hover-opacity;
        }
      }
  
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: $hamburger-active-layer-color;
      }
    }
  }
  
  .hamburger-box {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
    display: inline-block;
    position: relative;
  }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: $hamburger-layer-height / -2;
  
    &,
    &::before,
    &::after {
      width: $hamburger-layer-width;
      height: $hamburger-layer-height;
      background-color: $hamburger-layer-color;
      border-radius: $hamburger-layer-border-radius;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
  
    &::before,
    &::after {
      content: "";
      display: block;
    }
  
    &::before {
      top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    }
  
    &::after {
      bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    }
  }

  /*
   * Squeeze
   */
   .hamburger--squeeze {
    .hamburger-inner {
      transition-duration: 0.075s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

      &::before {
        transition: top 0.075s 0.12s ease,
                    opacity 0.075s ease;
      }

      &::after {
        transition: bottom 0.075s 0.12s ease,
                    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }

    &.is-active {
      .hamburger-inner {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::before {
          top: 0;
          opacity: 0;
          transition: top 0.075s ease,
                      opacity 0.075s 0.12s ease;
        }

        &::after {
          bottom: 0;
          transform: rotate(-90deg);
          transition: bottom 0.075s ease,
                      transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
  }